<section class="our-team hero-decor">
  <div class="our-team__container">
    <h2 class="our-team__title heading-h2">
      Meet our team of creators, designers, and world-class problem solvers
    </h2>
    <blockquote class="our-team__qoute text-p-medium">
      To become the company that customers want, it takes a group of passionate
      people. Get to know the people who lead
    </blockquote>
    <div class="swiper our-team__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide our-team__slide">
          <img
            loading="lazy"
            src="./assets/image/about/our-team-slide-img-1.jpg"
            class="our-team__slide-img"
            width="379"
            height="434"
            alt="Arlyne Stefano"
          />
          <div class="our-team__slide-footer">
            <div class="our-team__slide-info">
              <h4 class="our-team__slide-name text-p-large">Arlyne Stefano</h4>
              <p class="our-team__slide-proffession text-p-medium">
                Founder & CEO
              </p>
            </div>
            <ul class="our-team__slide-socials">
              <li class="our-team__slide-socials-item">
                <a href="#" class="our-team__slide-socials-link">
                  <img
                    loading="lazy"
                    src="./assets/icons/socials/tw-black-icon.svg"
                    width="16"
                    height="14"
                    alt="Twitter icon"
                  />
                </a>
              </li>
              <li class="our-team__slide-socials-item">
                <a href="#" class="our-team__slide-socials-link">
                  <img
                    loading="lazy"
                    src="./assets/icons/socials/In-black-icon.svg"
                    width="18"
                    height="17"
                    alt="LinkedIn icon"
                  />
                </a>
              </li>
              <li class="our-team__slide-socials-item">
                <a href="#" class="our-team__slide-socials-link">
                  <img
                    loading="lazy"
                    src="./assets/icons/socials/inst-black-icon.svg"
                    width="18"
                    height="18"
                    alt="Instagram icon"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide our-team__slide">
          <img
            loading="lazy"
            src="./assets/image/about/our-team-slide-img-2.jpg"
            class="our-team__slide-img"
            width="379"
            height="434"
            alt="Katy Cristy"
          />
          <div class="our-team__slide-footer">
            <div class="our-team__slide-info">
              <h4 class="our-team__slide-name text-p-large">Katy Cristy</h4>
              <p class="our-team__slide-proffession text-p-medium">
                Chief Technology Officer
              </p>
            </div>
            <ul class="our-team__slide-socials">
              <li class="our-team__slide-socials-item">
                <a href="#" class="our-team__slide-socials-link">
                  <img
                    loading="lazy"
                    src="./assets/icons/socials/tw-black-icon.svg"
                    width="16"
                    height="14"
                    alt="Twitter icon"
                  />
                </a>
              </li>
              <li class="our-team__slide-socials-item">
                <a href="#" class="our-team__slide-socials-link">
                  <img
                    loading="lazy"
                    src="./assets/icons/socials/In-black-icon.svg"
                    width="18"
                    height="17"
                    alt="LinkedIn icon"
                  />
                </a>
              </li>
              <li class="our-team__slide-socials-item">
                <a href="#" class="our-team__slide-socials-link">
                  <img
                    loading="lazy"
                    src="./assets/icons/socials/inst-black-icon.svg"
                    width="18"
                    height="18"
                    alt="Instagram icon"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide our-team__slide">
          <img
            loading="lazy"
            src="./assets/image/about/our-team-slide-img-3.jpg"
            class="our-team__slide-img"
            width="379"
            height="434"
            alt="Roger Dzawin"
          />
          <div class="our-team__slide-footer">
            <div class="our-team__slide-info">
              <h4 class="our-team__slide-name text-p-large">Roger Dzawin</h4>
              <p class="our-team__slide-proffession text-p-medium">
                Chief Technology Officer
              </p>
            </div>
            <ul class="our-team__slide-socials">
              <li class="our-team__slide-socials-item">
                <a href="#" class="our-team__slide-socials-link">
                  <img
                    loading="lazy"
                    src="./assets/icons/socials/tw-black-icon.svg"
                    width="16"
                    height="14"
                    alt="Twitter icon"
                  />
                </a>
              </li>
              <li class="our-team__slide-socials-item">
                <a href="#" class="our-team__slide-socials-link">
                  <img
                    loading="lazy"
                    src="./assets/icons/socials/In-black-icon.svg"
                    width="18"
                    height="17"
                    alt="LinkedIn icon"
                  />
                </a>
              </li>
              <li class="our-team__slide-socials-item">
                <a href="#" class="our-team__slide-socials-link">
                  <img
                    loading="lazy"
                    src="./assets/icons/socials/inst-black-icon.svg"
                    width="18"
                    height="18"
                    alt="Instagram icon"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide our-team__slide">
          <img
            loading="lazy"
            src="./assets/image/about/our-team-slide-img-1.jpg"
            class="our-team__slide-img"
            width="379"
            height="434"
            alt="Arlyne Stefano"
          />
          <div class="our-team__slide-footer">
            <div class="our-team__slide-info">
              <h4 class="our-team__slide-name text-p-large">Arlyne Stefano</h4>
              <p class="our-team__slide-proffession text-p-medium">
                Founder & CEO
              </p>
            </div>
            <ul class="our-team__slide-socials">
              <li class="our-team__slide-socials-item">
                <a href="#" class="our-team__slide-socials-link">
                  <img
                    loading="lazy"
                    src="./assets/icons/socials/tw-black-icon.svg"
                    width="16"
                    height="14"
                    alt="Twitter icon"
                  />
                </a>
              </li>
              <li class="our-team__slide-socials-item">
                <a href="#" class="our-team__slide-socials-link">
                  <img
                    loading="lazy"
                    src="./assets/icons/socials/In-black-icon.svg"
                    width="18"
                    height="17"
                    alt="LinkedIn icon"
                  />
                </a>
              </li>
              <li class="our-team__slide-socials-item">
                <a href="#" class="our-team__slide-socials-link">
                  <img
                    loading="lazy"
                    src="./assets/icons/socials/inst-black-icon.svg"
                    width="18"
                    height="18"
                    alt="Instagram icon"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide our-team__slide">
          <img
            loading="lazy"
            src="./assets/image/about/our-team-slide-img-2.jpg"
            class="our-team__slide-img"
            width="379"
            height="434"
            alt="Katy Cristy"
          />
          <div class="our-team__slide-footer">
            <div class="our-team__slide-info">
              <h4 class="our-team__slide-name text-p-large">Katy Cristy</h4>
              <p class="our-team__slide-proffession text-p-medium">
                Chief Technology Officer
              </p>
            </div>
            <ul class="our-team__slide-socials">
              <li class="our-team__slide-socials-item">
                <a href="#" class="our-team__slide-socials-link">
                  <img
                    loading="lazy"
                    src="./assets/icons/socials/tw-black-icon.svg"
                    width="16"
                    height="14"
                    alt="Twitter icon"
                  />
                </a>
              </li>
              <li class="our-team__slide-socials-item">
                <a href="#" class="our-team__slide-socials-link">
                  <img
                    loading="lazy"
                    src="./assets/icons/socials/In-black-icon.svg"
                    width="18"
                    height="17"
                    alt="LinkedIn icon"
                  />
                </a>
              </li>
              <li class="our-team__slide-socials-item">
                <a href="#" class="our-team__slide-socials-link">
                  <img
                    loading="lazy"
                    src="./assets/icons/socials/inst-black-icon.svg"
                    width="18"
                    height="18"
                    alt="Instagram icon"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide our-team__slide">
          <img
            loading="lazy"
            src="./assets/image/about/our-team-slide-img-3.jpg"
            class="our-team__slide-img"
            width="379"
            height="434"
            alt="Roger Dzawin"
          />
          <div class="our-team__slide-footer">
            <div class="our-team__slide-info">
              <h4 class="our-team__slide-name text-p-large">Roger Dzawin</h4>
              <p class="our-team__slide-proffession text-p-medium">
                Chief Technology Officer
              </p>
            </div>
            <ul class="our-team__slide-socials">
              <li class="our-team__slide-socials-item">
                <a href="#" class="our-team__slide-socials-link">
                  <img
                    loading="lazy"
                    src="./assets/icons/socials/tw-black-icon.svg"
                    width="16"
                    height="14"
                    alt="Twitter icon"
                  />
                </a>
              </li>
              <li class="our-team__slide-socials-item">
                <a href="#" class="our-team__slide-socials-link">
                  <img
                    loading="lazy"
                    src="./assets/icons/socials/In-black-icon.svg"
                    width="18"
                    height="17"
                    alt="LinkedIn icon"
                  />
                </a>
              </li>
              <li class="our-team__slide-socials-item">
                <a href="#" class="our-team__slide-socials-link">
                  <img
                    loading="lazy"
                    src="./assets/icons/socials/inst-black-icon.svg"
                    width="18"
                    height="18"
                    alt="Instagram icon"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="our-team__slider-btns">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </svg>
      </div>
    </div>
    <div class="our-team__footer">
      <h2 class="our-team__footer-title heading-h2">
        Join our team, The one with the master touch
      </h2>
      <div class="our-team__footer-right">
        <p class="our-team__footer-text text-p-medium">
          We believe it takes great people to make a great product. That’s why
          we hire not only the perfect professional fits, but people who embody
          our company values.
        </p>
        <a href="#" class="our-team__footer-link text-p-medium"
          >See Open Position -></a
        >
      </div>
    </div>
  </div>
</section>
