.partners {
  padding: 108px 0;

  @include mobile {
    padding: 76px 0;
  }

  &__container {
    @include flex-all-between;
    gap: 30px;
    max-width: 1110px;

    @include small-tablet {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }

  &__title {
    @include flex-column;
    gap: 16px;
    max-width: 309px;
    font-weight: 500;
    line-height: 178%;
    color: var(--neutral-color-150);

    @include small-mobile {
        gap: 10px;
      }

    &-num {
      font-weight: 600;
      line-height: 120%;
      letter-spacing: -0.04em;
      color: var(--neutral-color-100);
    }
  }

  &__slider {
    display: none !important;

    @include mobile {
      display: block !important;
    }
  }

  &__slide {
    display: flex !important;
    min-height: 90px;
    max-width: 160px;
  }

  &__list {
    @include flex-all-center;
    gap: 10px 30px;
    flex-wrap: wrap;

    @include mobile {
      &--hide {
        display: none;
      }
    }
  }

  &__item {
    @include flex-all-center;
    border-radius: 16px;
    width: 160px;
    height: 90px;
    background-color: #fff;
  }
}
