.insights {
  padding: 120px 0;
  background-color: var(--black-bg-color);

  @include small-tablet {
    padding: 80px 0;
  }

  @include mobile {
    padding: 60px 0;
  }

  @include small-mobile {
    padding: 40px 0;
  }

  &__container {
    @include flex-all-between;
    gap: 32px;
    align-items: flex-start;

    @include small-tablet {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__column {
    @include flex-column;
    gap: 159px;

    @include small-tablet {
      gap: 32px;
    }
  }

  &__article {
    max-width: 584px;

    @media (any-hover: hover) {
      &:hover {
        /* stylelint-disable-next-line selector-class-pattern */
        .insights__article-title {
          text-decoration: underline;
          text-decoration-skip-ink: none;
        }
      }
    }

    &-img {
      margin-bottom: 24px;
    }

    &-title {
      margin-bottom: 24px;
      font-weight: 600;
      color: #fff;
      transition: var(--transition);
    }

    &-descr {
      font-weight: 500;
      line-height: 178%;
      color: var(--neutral-color-150);
    }
  }
}
