<section class="hero hero-decor">
  <div class="hero__container">
    <h2 class="hero__title heading-h1">Activity & Updates</h2>
    <p class="hero__subtitle text-p-subtitle">
      Our biggest challenge is making sure we're <br />
      always designing and building products that <br />
      will help you run your business better. <br />
    </p>
    <ul class="hero__list">
      <li class="hero__item">
        <a href="#all" class="hero__tab text-p-default hero__tab--active"
          >View all</a
        >
      </li>
      <li class="hero__item">
        <a href="#design" class="hero__tab text-p-default">Design</a>
      </li>
      <li class="hero__item">
        <a href="#articles" class="hero__tab text-p-default">Articles</a>
      </li>
      <li class="hero__item">
        <a href="#product" class="hero__tab text-p-default">Product</a>
      </li>
      <li class="hero__item">
        <a href="#software-development" class="hero__tab text-p-default"
          >Software Development</a
        >
      </li>
      <li class="hero__item">
        <a href="#customer-success" class="hero__tab text-p-default"
          >Customer Success</a
        >
      </li>
    </ul>
    <div class="swiper hero__slider">
      <div class="swiper-wrapper">
        <div id="design" class="swiper-slide hero__slide">
          <img
            loading="lazy"
            src="./assets/image/blog/hero-slide-1-img.jpg"
            class="hero__slide-img"
            width="515"
            height="428"
            alt="a woman sitting at a desk with a laptop and a glass of water in front of her"
          />
          <div class="hero__slide-info">
            <p class="hero__slide-text text-p-small">
              Published in Insight
              <time datetime="2021-01-30">Jan 30, 2021</time>
            </p>
          </div>
          <h5 class="hero__slide-title heading-h5">
            Practice making User Flow
          </h5>
          <p class="hero__slide-descr">
            In this article, we'll cover how to create user flows
          </p>
        </div>
        <div id="articles" class="swiper-slide hero__slide">
          <img
            loading="lazy"
            src="./assets/image/blog/hero-slide-2-img.jpg"
            class="hero__slide-img"
            width="515"
            height="428"
            alt="two women sitting at a table with a laptop computer on it, both looking at the screen and one of them is on the laptop"
          />
          <div class="hero__slide-info">
            <p class="hero__slide-text text-p-small">
              Published in Insight
              <time datetime="2021-01-30">Jan 30, 2021</time>
            </p>
            <address class="hero__slide-autor text-p-small">
              by : Albert Sans
            </address>
          </div>
          <h5 class="hero__slide-title heading-h5">
            Overview of the Design Principles
          </h5>
          <p class="hero__slide-descr">
            What are Design Principles?… To understand design principles, we
            first discuss the principles.
          </p>
        </div>
        <div id="product" class="swiper-slide hero__slide">
          <img
            loading="lazy"
            src="./assets/image/blog/hero-slide-3-img.jpg"
            class="hero__slide-img"
            width="379"
            height="428"
            alt="man and woman sitting at a table with a laptop and high-fiving each other"
          />
          <div class="hero__slide-info">
            <p class="hero__slide-text text-p-small">
              Published in Insight
              <time datetime="2021-01-30">Jan 30, 2021</time>
            </p>
          </div>
          <h5 class="hero__slide-title heading-h5">
            Using Grid in website design
          </h5>
          <p class="hero__slide-descr">
            Andi: "What's the grid like?" Toni: “Like below…”
          </p>
        </div>
        <div id="design" class="swiper-slide hero__slide">
          <img
            loading="lazy"
            src="./assets/image/blog/hero-slide-1-img.jpg"
            class="hero__slide-img"
            width="515"
            height="428"
            alt="a woman sitting at a desk with a laptop and a glass of water in front of her"
          />
          <div class="hero__slide-info">
            <p class="hero__slide-text text-p-small">
              Published in Insight
              <time datetime="2021-01-30">Jan 30, 2021</time>
            </p>
          </div>
          <h5 class="hero__slide-title heading-h5">
            Practice making User Flow
          </h5>
          <p class="hero__slide-descr">
            In this article, we'll cover how to create user flows
          </p>
        </div>
        <div id="articles" class="swiper-slide hero__slide">
          <img
            loading="lazy"
            src="./assets/image/blog/hero-slide-2-img.jpg"
            class="hero__slide-img"
            width="515"
            height="428"
            alt="two women sitting at a table with a laptop computer on it, both looking at the screen and one of them is on the laptop"
          />
          <div class="hero__slide-info">
            <p class="hero__slide-text text-p-small">
              Published in Insight
              <time datetime="2021-01-30">Jan 30, 2021</time>
            </p>
            <address class="hero__slide-autor text-p-small">
              by : Albert Sans
            </address>
          </div>
          <h5 class="hero__slide-title heading-h5">
            Overview of the Design Principles
          </h5>
          <p class="hero__slide-descr">
            What are Design Principles?… To understand design principles, we
            first discuss the principles.
          </p>
        </div>
        <div id="product" class="swiper-slide hero__slide">
          <img
            loading="lazy"
            src="./assets/image/blog/hero-slide-3-img.jpg"
            class="hero__slide-img"
            width="379"
            height="428"
            alt="man and woman sitting at a table with a laptop and high-fiving each other"
          />
          <div class="hero__slide-info">
            <p class="hero__slide-text text-p-small">
              Published in Insight
              <time datetime="2021-01-30">Jan 30, 2021</time>
            </p>
          </div>
          <h5 class="hero__slide-title heading-h5">
            Using Grid in website design
          </h5>
          <p class="hero__slide-descr">
            Andi: "What's the grid like?" Toni: “Like below…”
          </p>
        </div>
      </div>
      <div class="hero__slider-btns">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</section>
