<section class="insights">
<div class="insights__container">
    <div class="insights__column">
        <a href="#" class="insights__article">
            <img loading="lazy" src="./assets/image/blog/insights-1-img.jpg" class="insights__article-img" width="584" height="751" alt="a laptop on a table with chairs around it in a room with a rug and a rug on the floor">
            <h4 class="insights__article-title heading-h3">How we perform long-running tasks using AWS services</h4>
            <p class="insights__article-descr text-p-medium">Webflow is web design tool as well as a hosting platform and CMS all in one. While you are probably familiar with all of these, they are usually entirely separate tools.</p>
        </a>
        <a href="#" class="insights__article">
            <img loading="lazy" src="./assets/image/blog/insights-3-img.jpg" class="insights__article-img" width="584" height="507" alt="a group of people sitting around a table with laptops and papers on it">
            <h4 class="insights__article-title heading-h3">Layout Exploration — Simple exercise but big effect</h4>
            <p class="insights__article-descr text-p-medium">Make alternatives or other options for the design we are making.
                For example, we are creating a website design. Then there is the testimonial section.</p>
        </a>
    </div>
    <div class="insights__column">
        <a href="#" class="insights__article">
            <img loading="lazy" src="./assets/image/blog/insights-2-img.jpg" class="insights__article-img" width="584" height="751" alt="a group of people sitting around a wooden table in an office setting with computers on it and a laptop on the desk">
            <h4 class="insights__article-title heading-h3">How to ask when doing User Research</h4>
            <p class="insights__article-descr text-p-medium">Bro, the story is that you want to make an application for buying and selling goods on the market. During user research, what do you think you will ask people?</p>
        </a>
        <a href="#" class="insights__article">
            <img loading="lazy" src="./assets/image/blog/insights-4-img.jpg" class="insights__article-img" width="584" height="507" alt="a man standing in front of a group of people in a meeting room with a whiteboard in the background">
            <h4 class="insights__article-title heading-h3">Webflow Break the Coding Barrier</h4>
            <p class="insights__article-descr text-p-medium">Webflow is web design tool as well as a hosting platform and CMS all in one. While you are probably familiar with all of these, they are usually entirely separate tools.</p>
        </a>
    </div>
</div>
</section>