<section class="partners">
  <div class="partners__container">
    <h2 class="partners__title text-p-medium">
      <span class="partners__title-num heading-h2">890+</span>
      some big companies that we work with, and trust us very much
    </h2>
    <ul class="partners__list">
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/airbnb-logo-icon.svg"
          class="partners__img"
          width="97"
          height="30"
          alt="Airbnb logo icon"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/amazon-logo-icon.svg"
          class="partners__img"
          width="97"
          height="30"
          alt="Amazon logo icon"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/fedex-logo-icon.svg"
          class="partners__img"
          width="94"
          height="28"
          alt="FeDex logo icon"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/microsoft-logo-icon.svg"
          class="partners__img"
          width="115"
          height="24"
          alt="Microsoft logo icon"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/google-logo-icon.svg"
          class="partners__img"
          width="89"
          height="30"
          alt="Google logo icon"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/ola-logo-icon.svg"
          class="partners__img"
          width="92"
          height="32"
          alt="OLA logo icon"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/walmart-logo-icon.svg"
          class="partners__img"
          width="112"
          height="26"
          alt="Walmart logo icon"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/oyo-logo-icon.svg"
          class="partners__img"
          width="79"
          height="28"
          alt="OYO logo icon"
        />
      </li>
    </ul>
    <!-- <div class="swiper partners__slider">
      <ul class="swiper-wrapper">
        <li class="partners__item partners__slide swiper-slide">
          <img
            loading="lazy"
            src="./assets/icons/partners/airbnb-logo-icon.svg"
            class="partners__img"
            width="97"
            height="30"
            alt="Airbnb logo icon"
          />
        </li>
        <li class="partners__item partners__slide swiper-slide">
          <img
            loading="lazy"
            src="./assets/icons/partners/amazon-logo-icon.svg"
            class="partners__img"
            width="97"
            height="30"
            alt="Amazon logo icon"
          />
        </li>
        <li class="partners__item partners__slide swiper-slide">
          <img
            loading="lazy"
            src="./assets/icons/partners/fedex-logo-icon.svg"
            class="partners__img"
            width="94"
            height="28"
            alt="FeDex logo icon"
          />
        </li>
        <li class="partners__item partners__slide swiper-slide">
          <img
            loading="lazy"
            src="./assets/icons/partners/microsoft-logo-icon.svg"
            class="partners__img"
            width="115"
            height="24"
            alt="Microsoft logo icon"
          />
        </li>
        <li class="partners__item partners__slide swiper-slide">
          <img
            loading="lazy"
            src="./assets/icons/partners/google-logo-icon.svg"
            class="partners__img"
            width="89"
            height="30"
            alt="Google logo icon"
          />
        </li>
        <li class="partners__item partners__slide swiper-slide">
          <img
            loading="lazy"
            src="./assets/icons/partners/ola-logo-icon.svg"
            class="partners__img"
            width="92"
            height="32"
            alt="OLA logo icon"
          />
        </li>
        <li class="partners__item partners__slide swiper-slide">
          <img
            loading="lazy"
            src="./assets/icons/partners/walmart-logo-icon.svg"
            class="partners__img"
            width="112"
            height="26"
            alt="Walmart logo icon"
          />
        </li>
        <li class="partners__item partners__slide swiper-slide">
          <img
            loading="lazy"
            src="./assets/icons/partners/oyo-logo-icon.svg"
            class="partners__img"
            width="79"
            height="28"
            alt="OYO logo icon"
          />
        </li>
      </ul>
    </div> -->
  </div>
</section>
