.quote {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  padding: 85px 0;

  @include tablet {
    padding: 55px 0;
  }

  @include mobile {
    padding: 42px 0;
  }

  &__container {
    @include flex-all-between;

    @include tablet {
      gap: 52px;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    @include mobile {
      gap: 30px;
    }
  }

  &__title {
    max-width: 480px;
    font-weight: 600;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);
  }

  &__descr {
    max-width: 522px;
    font-weight: 600;
    line-height: 150%;
    color: var(--neutral-color-100);
  }
}
